In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
sep_ = pd.read_csv("../Resources/Sept_clean_data.csv")
nov_ = pd.read_csv("../Resources/Nov_clean_data.csv")
dec_ = pd.read_csv("../Resources/Dec_clean_data.csv")

In [4]:
sep_.columns

Index(['S.no', 'Youtube_channel', 'Youtuber_name', 'Category', 'Subscribers',
       'Country', 'Average_view', 'Average_likes', 'Average_comments',
       'Sub-category', 'Date'],
      dtype='object')

In [5]:
nov_.columns

Index(['s.no', 'Youtube_channel', 'Youtuber_name', 'Category', 'Subscribers',
       'Country', '\r\nViews (Avg.)', 'Average_likes', 'Average_comments',
       'Sub-category', 'Date'],
      dtype='object')

In [6]:
dec_.columns

Index(['s.no', 'Youtube_channel', 'Youtuber_name', 'Category', 'Subscribers',
       'Country', 'Average_view', 'Average_likes', 'Average_comments',
       'Sub-category', 'Date'],
      dtype='object')

In [7]:
df = pd.read_json('../Resources/influencer_data.jsonl', lines=True)
df.head()

,Name,Age,Sex,Country of Origin,State or Province,Education Level,MBTI Personality,Lifestyle,Backstory
0,Andre Mcclain,23,male,USA,South Carolina,High School,INFP,architecture,Andre Mcclain grew up in a small town in South...
1,Gregory Joseph,19,male,USA,Iowa,High School,ISFP,diy,Gregory Joseph was born and raised in a small ...
2,William Wall,23,male,USA,Oregon,High School,ISFP,pets,William Wall was born and raised in the lush g...
3,Virginia Chapman,24,female,USA,Pennsylvania,Bachelor,ISFJ,cooking,Virginia Chapman was born and raised in a smal...
4,Deborah Potter,33,female,Canada,Quebec,Bachelor,ESTP,dancing,"Deborah Potter was born and raised in Quebec, ..."

In [23]:
df[df['Age']<=25].sort_values(by='Age', ascending=True).head(10)

,Name,Age,Sex,Country of Origin,State or Province,Education Level,MBTI Personality,Lifestyle,Backstory
10033,Tommy Hicks,18,male,USA,Ohio,High School,INFP,astrology,Tommy Hicks was born and raised in a small tow...
13615,Pamela Decker,18,female,USA,Tennessee,High School,ENTJ,politics,Pamela Decker was born and raised in the small...
26846,Stephanie Chavez,18,female,USA,Texas,High School,ISFP,gardening,Stephanie Chavez was born and raised in the he...
7232,Janice Green,18,female,USA,Idaho,High School,ESFP,diy,Janice Green was born and raised in the small ...
19378,Andrea Taylor,18,female,USA,New York,High School,ENTJ,politics,Andrea Taylor was born and raised in the bustl...
7237,Kevin Elliott,18,male,USA,Kentucky,High School,ENFP,comedy,Kevin Elliott was born and raised in a small t...
24397,Joel Carter,18,male,USA,Georgia,High School,INTP,engineering,Joel Carter was born and raised in a small tow...
13601,Tiffany Owens,18,female,Canada,Ontario,High School,ESFJ,health,Tiffany Owens was born and raised in the bustl...
19401,Ms. Tiffany Sanders,18,female,USA,Texas,High School,INTP,engineering,Ms. Tiffany Sanders was born and raised in a s...
2704,Kathleen Dillon,18,female,USA,Texas,No High School,INFP,astrology,Kathleen Dillon was born and raised in a small...

In [25]:
df[df['Age']==18].size

15246

In [28]:
for i in sep_.columns:
    print(i)

S.no
Youtube_channel
Youtuber_name
Category
Subscribers
Country
Average_view
Average_likes
Average_comments
Sub-category
Date

In [29]:
for i in nov_.columns:
    print(i)

s.no
Youtube_channel
Youtuber_name
Category
Subscribers
Country

Views (Avg.)
Average_likes
Average_comments
Sub-category
Date

In [30]:
for i in dec_.columns:
    print(i)

s.no
Youtube_channel
Youtuber_name
Category
Subscribers
Country
Average_view
Average_likes
Average_comments
Sub-category
Date